<h1> Please fill out all fields marked required </h1>

<%= form_for (@picture) do |f| %>
<h4><%= f.file_field :photo %></h4>
<h4><%= "Select the army the model belongs to. REQUIRED" %></h4>
  <%= f.radio_button :army, "Necrons" %>
  <%= f.label "Necrons" %>
  <%= f.radio_button :army, "Raven Guard" %>
  <%= f.label "Raven Guard" %>

  <% paints = Color.all %>
  <% @paint_name = ["None"] %>
    <% paints.each do |paint| %>
    <% @paint_name << paint.name %>
  <% end %>
  <div><%= f.select :primer, options_for_select(@paint_name) %>
  <%= f.label "Primer" %></div>

  <div><%= f.select :base, options_for_select(@paint_name) %>
  <%= f.label "Base Paint" %></div>

  <div><%= f.select :highlight, options_for_select(@paint_name) %>
  <%= f.label "Highlight" %></div>

  <div><%= f.select :shade, options_for_select(@paint_name) %>
  <%= f.label "Shade" %></div>

  <div> <%= f.submit "Add Miniature" %></div>
<% end %>
